.panel.panel-default
  .panel-heading
    %h3.panel-title
      筑波大学 春日地区へようこそ！
  .panel-body
    新入生の皆さん、筑波大学へのご入学おめでとうございます。
    春日地区は情報メディア創成学類・知識情報・図書館学類が主に学ぶエリアです。
    春日地区新入生歓迎委員会では、新入生の皆さんを迎えるべく様々なイベントを企画しています。

.panel.panel-default
  .panel-heading
    %h3.panel-title
      新入生歓迎会実行委員について	
  .panel-body
