%h1
  リンク

- links = Hash.new()
- links.store("筑波大学", "http://www.tsukuba.ac.jp/")
- links.store("筑波大学 情報学群", "http://inf.tsukuba.ac.jp/")
- links.store("筑波大学 情報学群 情報科学類", "http://www.coins.tsukuba.ac.jp/")
- links.store("筑波大学 情報学群 知識情報・図書館学類", "http://klis.tsukuba.ac.jp/")
- links.store("筑波大学 情報学群 メディア創成学類", "http://www.mast.tsukuba.ac.jp/")

%ul
  - links.each do |key, val|
    %li
      %a{:href => "#{val}", :target => "_brank"} #{key}
  