%h1
  日程

%table.table.table-bordered.table-calender
  %thead
    %tr
      - ["月", "火", "水", "木" ,"金", "土", "日"].each do |item|
        %th #{item}

  %tbody
    %tr
      %td
        %span 1
        %span.label.label-default 予定
        %p
          hoge
      %td
        %span 2
        %span.label.label-primary 予定
        %p
          hoge
      %td
        %span 3
        %span.label.label-success 予定
        %p
          hoge
      %td
        %span 4
        %span.label.label-info 予定
        %p
          hoge
      %td
        %span 5
        %span.label.label-warning 予定
        %p
          hoge
      %td
        %span 6
        %span.label.label-danger 予定
        %p
          hoge
      %td
        %span 7
        %span.label.label-primary 予定
        %p
          hoge

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7
