%h1
  日程

%table.table.table-bordered
  %thead
    %tr
      - ["日", "月", "火", "水", "木" ,"金", "土"].each do |item|
        %th #{item}

  %tbody
    %tr
      %td
        1
        %span.label.label-default 予定
        %p
          hoge
      %td
        2
        %span.label.label-primary 予定
        %p
          hoge
      %td
        3
        %span.label.label-success 予定
        %p
          hoge
      %td
        4
        %span.label.label-info 予定
        %p
          hoge
      %td
        5
        %span.label.label-warning 予定
        %p
          hoge
      %td
        6
        %span.label.label-danger 予定
        %p
          hoge
      %td
        7
        %span.label.label-primary 予定
        %p
          hoge

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7

    %tr
      %td
        1
      %td
        2
      %td
        3
      %td
        4
      %td
        5
      %td
        6
      %td
        7
