extends layout/default
block title
  title イベント|春日地区新入生歓迎委員会Web

block contents
  .container
    h1 イベント
    p.
      春日地区では以下の様なイベントが開催される予定です。

    h2.page-header 春日宿舎

    h3 入居お手伝い
    p.
      新歓委員が、新入生の皆さんの宿舎入居を歓迎しつつ、宿舎用の寝具セットを運ぶお手伝いをします。
      在学生と会話したり、分からないことを質問するチャンスでもあります

    h3 リサイクル市
    p.
      平塚線沿いにある『ローカルコミュニティー』というリサイクルショップで行われるリサイクル市に案内します。
      そこで中古の家具や家電製品などを購入し，宿舎の近くまでトラックで運んでもらうことができます。
      ローカルコミュニティーのホームページはこちら

    h3 学内散策
    p.
      筑波大学は南北に広い（およそ東京～上野駅間に匹敵）ということはすでにおなじみだと思いますが，その南端である春日地区から，大学中地区である第2・第3エリアの石の広場までを，他の新入生や引率の在学生と一緒にお喋りしながら歩くイベントです．筑波大学のいろんな場所について在学生が説明します．1年生の間はいわゆる「本学（もともと筑波大学だったエリア）」に行くことが多いので，この機会に詳しくなっておきましょう！

    h2.page-header 春日エリア

    h3 レクリエーション
    p.
      春日新歓のメインイベントです．ビンゴ大会やすごろく大会など，他の新入生と交流し，友達を作れる一番大きなイベントです．景品がついてくるイベントもあるので，参加しておいて損はないですよ！

    h3 キャンパスツアー
    p.
      本学に詳しくなったあとは，今後メインで通うことになる春日地区の案内です．1年次の授業で頻繁に利用する7A205教室や，情報基礎実習・プログラミング演習で利用する7C102実習室，図書館情報学図書館など，春日地区の中で主要な場所を，在学生がツアー形式で案内します．

    h3 情報学群懇親会
    p.
      情報学群の中には，春日エリアに通う情報メディア創成学類，知識情報・図書館学類の他に，第3エリアに通う情報科学類があります．この情報科学類とも交流すべく設けられたのがこのイベントです．日時・開催場所は未定ですので，続報をお待ちください．

    h3 相談企画
    p.
      図書館情報学図書館にある春日ラーニングコモンズや，Twitter上において，新入生からの様々な質問にお答えする企画です．履修相談，大学生活，大学の周りのご飯屋さんについてなどなど様々な質問をお受けします．また，図書館まで行くのが面倒くさい，という方のために，Twitter上でも質問に対応します．春日新歓の公式アカウントは@kasugashinkan13となっております．このアカウントに質問内容をメンションで送ってくだされば，回答できる在学生がリプライでお返事をします．何でもお気軽にご相談ください！
