extends layout/default
block title
  title リンク|春日地区新入生歓迎委員会Web

block contents
  .container
    h1 リンク
    ul
      for val, key in {"筑波大学":"http://www.tsukuba.ac.jp/", "筑波大学 情報学群":"http://inf.tsukuba.ac.jp/", "筑波大学 情報学群 情報科学類":"http://www.coins.tsukuba.ac.jp/", "筑波大学 情報学群 知識情報・図書館学類":"http://klis.tsukuba.ac.jp/", "筑波大学 情報学群 情報メディア創成学類":"http://www.mast.tsukuba.ac.jp/"}
        li
          a(href= "#{val}", target= "_brank") #{key}

    h2 かすがらいふ
    p.
      春と夏の年2回、「かすがらいふ」という情報誌が発行されています。
      春号では主に新入生向けの情報が盛り沢山な内容になっているので、是非目を通しておくことをオススメします。

    .col-sm-4
      .panel.panel-default.panel-kasugalife
        h3 14年度春号
        img(src= "img/kasugalife_14spring.png")
        .text-center
          a.btn.btn-default(href= "pdf/kasugalife_14spring.pdf", target= "_brank") Download
      
    .col-sm-4
      .panel.panel-default.panel-kasugalife
        h3 13年度夏号
        img(src= "img/kasugalife_13summer.png")
        .text-center
          a.btn.btn-default(href= "pdf/kasugalife_13summer.pdf", target= "_brank") Download
      
    .col-sm-4
      .panel.panel-default.panel-kasugalife
        h3 13年度春号
        img(src= "img/kasugalife_13spring.png")
        .text-center
          a.btn.btn-default(href= "pdf/kasugalife_13spring.pdf", target= "_brank") Download

    h2 スライド
    .col-sm-6
      .panel.panel-default.panel-slide
        p 情報メディア創成学類(MAST)を対象とした、履修に関する内容です。
        iframe(src="http://www.slideshare.net/slideshow/embed_code/33405528", width="427", height="356", frameborder="0", marginwidth="0", marginheight="0", scrolling="no", style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%; ")
        .text-center
          a.btn.btn-default(href= "pdf/course_guidance_14.pdf", target= "_brank") Download
