extends layout/default
block title
  title 日程|春日地区新入生歓迎委員会Web

block contents
  .container
    h1 日程

    ul
      li 4/4 8:00～16:00 宿舎入居、引っ越し手伝い
      li 4/5 11:30～15:30　学内散歩（雨天時は4/6）
      li 4/6 15:30～21:00　レクリエーション
      li 4/7 16:00～18:00　キャンパスツアー
