extends layout/default
block title
  title 日程|春日地区新入生歓迎委員会Web

block contents
  .container
    h1 日程
    p
      |春日地区新入生歓迎委員会では以下の活動を行います。各活動の詳細については、
      a(href= "event.html") イベント
      |ページをご参照ください 。(イベント名のリンクから移動することが出来ます)

    .col-sm-4
      .panel.panel-default.panel-cal
        h3 4/4
        ul.non-list-style
          li 宿舎入居
          li
            a(href= "event.html#1") 引っ越しお手伝い
            span (8:30～16:00)

    .col-sm-4
      .panel.panel-default.panel-cal
        h3 4/5
        ul.non-list-style
          li
            a(href= "event.html#2") 学内散歩
            span (12:30～15:30)
            span (雨天時は4/6）

    .col-sm-4
      .panel.panel-default.panel-cal
        h3 4/6
        ul.non-list-style
          li
            a(href= "event.html#3") レクリエーション
            span (15:30～20:00)
            span (15:00 受付開始)

    .col-sm-4
      .panel.panel-default.panel-cal
        h3 4/7
        ul.non-list-style
          li
            a(href= "event.html#4") キャンパスツアー
            span (16:30～18:00)

    .col-sm-4
      .panel.panel-default.panel-cal
        h3 4/18
        ul.non-list-style
          li
            a(href= "event.html#5") 情報学群懇親
            span (18:30～20:00)
            span (医学食堂)