hr.featurette-divider
#footer
  .container
    ul.list-inline
        li &copy 2014 筑波大学 春日地区クラス代表者会議
        each val, key in {index: "トップ", schedule: "日程", event: "イベント", link: "リンク", contact: "お問い合わせ"}
          li
            a(href= "#{key}.html") #{val}
        li.pull-right
          a.twitter-icon(href= "https://twitter.com/kasugashinkan", target= "_brank")