doctype
html
  head
    block title
      title 春日地区新入生歓迎委員会Web
    meta(charset= 'UTF-8')
    meta(content= 'width=device-width, initial-scale=1.0', name= 'viewport')
    meta(content= '筑波大学, 情報学群, 知識情報・図書館学類, 情報メディア創成学類, klis, mast, 新入生歓迎会, 新歓, 春日地区, 春日エリア, 春日, 春日地区クラス代表者会議, クラ代', property= 'keywords')
    meta(content= '春日地区新入生歓迎委員会Web', property= 'og:title')
    meta(content= 'website', property= 'og:type')
    meta(content= '', property= 'og:description')
    meta(content= '', property= 'og:url')
    meta(content= '春日地区新入生歓迎委員会Web', property= 'og:site_name')
    link(href='', rel= 'shortcut icon')
    link(href='', rel= 'apple-touch-icon')
    script(src= "lib/jquery/js/jquery.min.js")
    script(src= "lib/bootstrap/js/bootstrap.min.js")
    //- script(src= "js/app.js")
    link(rel= "stylesheet", type= "text/css", href= "lib/bootstrap/css/bootstrap.min.css")
    link(rel= "stylesheet", type= "text/css", href= "css/style.css")
    block assets

  body
    include ../template/header
    
    block contents

    include ../template/footer
